<{if $block.sprockets_teaser_display_mode == 1}>
	<{foreach item=content from=$block.content_array}>
		<{if $content.title}>
			<div>
				<h3><{$content.itemLink}></h3>
				<{if $content.date || $content.counter || $content.tags}>
					<div class="itemInfo">
						<{if $content.date}><{$smarty.const._MB_SPROCKETS_CONTENT_TEASERS_PUBLISHED}>: <{$content.date}><{/if}><{if $content.counter}> | <{$content.counter}> <{$smarty.const._MB_SPROCKETS_CONTENT_TEASERS_VIEWS}>
						<{else}>
							<{if $content.counter}><{$content.counter}> <{$smarty.const._MB_SPROCKETS_TEASERS_VIEWS}><{/if}>
						<{/if}>
						<{if $content.tags}>
							<{if $content.date || $content.counter}> | 
								<{$content.tags}>
							<{else}>
								<{$content.tags}>
							<{/if}>
						<{/if}>
					</div>
				<{/if}>
				<{if $content.image && $content.description}>
					<div style="<{$block.sprockets_teaser_image_position}>">
						<a href="<{$content.url}>"><{resized_image file=$content.image width=$block.sprockets_teaser_image_size height="999" fit="inside"}></a>
					</div>
				<{/if}>
				<{if $content.description}>
					<div><{$content.description}></div>
				<{/if}>
			</div>
		<{/if}>
	<{/foreach}>
<{else}>
	<{if $block.content_array}>
		<div>
			<ul>
			<{foreach item=content from=$block.content_array}>
			<li><{$content.itemLink}></li>
			<{/foreach}>
			</ul>
		</div>
	<{/if}>
<{/if}>