<{includeq file='db:sprockets_header.html'}>

<div id="sprockets_content_container">
	<{if $sprockets_tag}>
		
			<!-- Loop through tagged content -->
			<{if $sprockets_tagged_content}>
				<{foreach item=item from=$sprockets_tagged_content}>
					<{include file=$item.subtemplate}>
				<{/foreach}>
			<{/if}>
			
			<!-- Pagination control -->
			<div>
				<{if $sprockets_navbar}><{$sprockets_navbar}><{/if}>
			</div>
			
	<{else}>
		<h1><{$sprockets_nothing_to_display}></h1>
	<{/if}>
</div>

<{includeq file='db:sprockets_footer.html'}>