<{if $sprockets_display_breadcrumb}>
	<div class="sprockets_headertable">
		<{if $sprockets_module_home}>
			<span class="sprockets_modulename"><{$sprockets_module_home}></span>
		<{/if}>
		<{if $sprockets_category_path}>
			<span class="sprockets_breadcrumb">
			<{if $sprockets_module_home}>
				&gt;
			<{/if}>
			<{$sprockets_category_path}></span>
		<{/if}>
	</div>
<{else}>
	<h1><{if $sprockets_rss_link}>
			<a href="<{$sprockets_rss_link}>" title="<{$sprockets_rss_title}>">
			<img src="<{$sprockets_rss_image}>" alt="RSS" /></a>
		<{/if}>
		<{if $sprockets_tag_name}><{$sprockets_tag_name}><{/if}>
	</h1>
<{/if}>
<{if $sprockets_tag_select_box}><{$sprockets_tag_select_box}><{/if}>